/*RESET*/
html, body, main, div, section{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*RESET*/

/* PLAYER STYLE'S */
.player_red, .player_black{
    height: 50px;
    width: 50px;
}
.player_red{
    background-color: red;
}
.player_black{
    background-color: black;
}
/* PLAYER STYLE'S */

/* TABLE STYLE */
#tab {
  display: flex;
  flex-direction: row;
}
/* TABLE STYLE */

/* SECTION STYLE */

.col {
  height: 300px;
  width: 50px;
  background-color: bisque;
}

/* SECTION STYLE */
