/* GERAL */

html,
body,
main,
div,
section {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hidden {
  display: none;
}

/* GERAL */
body {
  background-image: url(../img/arena.jpg);
  background-position: center;
}

  body header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  body .players {
    display: flex;
    justify-content: space-between;
  }

#tab {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background-image: url("/assets/img/pokeball.png"); */
}  

  #tab .col {
    height: 665px;
    width: 97px;
    border: 1px solid black;
    display: flex;
    flex-direction: column-reverse;
  }

    #tab .col .player_red,
    #tab .col .player_black {
      height: 50px;
      width: 50px;
      border-radius: 50%;
      position: relative;
      animation: mymove 500ms ease-in-out;
    }

body #start {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* EXTRA */

@keyframes mymove {
  0% {
    top: -300px;
  }
  70% {
    top: 0px;
  }
  90% {
    top: -15px;
  }
  100% {
    top: 0px;
  }
}

/* EXTRA */