/*RESET*/
html,
body,
main,
div,
section {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*RESET*/

/* GERAL */
.hidden {
  display: none;
}

/* GERAL */
body {
  background-image: url(../img/arena.jpg);
  background-position: center;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.players {
  display: flex;
  justify-content: space-between;
}

/* PLAYER STYLE'S */
.player_red,
.player_black {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: relative;
  animation: mymove 500ms ease-in-out;
}

/* PLAYER STYLE'S */

/* TABLE STYLE */
#tab {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background-image: url("/assets/img/pokeball.png"); */
}
/* TABLE STYLE */

/* SECTION STYLE */

.col {
  height: 665px;
  width: 97px;
  border: 1px solid black;
  display: flex;
  flex-direction: column-reverse;
}

#start {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* SECTION STYLE */
@keyframes mymove {
  0% {
    top: -300px;
  }
  70% {
    top: 0px;
  }
  90% {
    top: -15px;
  }
  100% {
    top: 0px;
  }
}
